body {
    background-color: #000000;
}

.navbar {
    background-color: #47484d;
}

.nav .nav-link.active {
    background-color: #f9bc3f;
    color: #fef6e7;
}

.nav .nav-link, 
.navbar-brand,
h2 {
    color: #fef6e7;
}

.navbar-brand {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.navbar-brand:hover {
    color: #fef6e7;
}

.navbar-brand span {
    color: #f9bc3f;
}

.nav .nav-link.active,
.nav-link {
font-family: "Inter", sans-serif;
font-weight: bold;
}

.navbar-toggler {
    background-color: #a9acb8;
}

span {
    color: #f9bc3f;
}

h2 {
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 30;
    color: white;
}

.card-title {
    color: #ffffff;
    font-size: 1.5rem;
}

.card-text {
    font-weight: bold;
    color: #ffffff;
}

/* Estilização do card */

.custom-card {
    background-color: #000; /* Fundo preto do card */
    color: #fff; /* Cor do texto do card */
    border: none; /* Remove a borda padrão do card */
    text-align: center;  /* Centraliza o conteúdo */
}

.card-image {
    background-image: linear-gradient(#000000, #000000, #000066, #0033cc);
}

.card-body {
    text-align: left;
    padding-left: 10px; /* Espaçamento interno do card-body */
}

/* Centraliza o botão */

.btn-release, 
.btn-custom {
    display: block; /* Faz o botão ocupar uma linha inteira */
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    border-width: 3px;
}

.btn-release {
    color: white;
    border-color: white;
    height: 60px;
    width: 300px;
    margin-top: 20px;
    font-size: 30px;
}

.btn-custom {
    border-color: #FABC3F;
}

.btn-custom:hover {
    border-color: #ffaa00;
    color: black;
    background-color: #ffaa00;
}

.btn-release:hover {
    color: #010153;
    border-color: white;
    background-color: white;
}

.btn {
    font-weight: bolder;
}

/* Estilo do título e texto */

.card-title {
    color: #ffffff;
    font-size: 1.5rem;
    padding-bottom: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.card-text {
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.card-body button {
    color: #FABC3F;
}

.card-subtitle {
    font-weight: bold;
    color: #FABC3F;
    text-align: center;
}

.card-lancamento {
    width: 568px;
    height: 300px;
    background-image: linear-gradient(#0d48fa,#0202b6,#02027e, #010153);
    border-radius: 20px;
}

#cell-release {
    width: 300px;
    height: auto;
    position: relative;
    left: -100px; 
}

.top-preco {
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 4px solid #FABC3F;
    margin-right: -4px; /* Move a linha para dentro */
}

.top-preco:hover {
    background-color: grey;
    color: white;
}

.form-label {
    color: white;
    padding-top: 5px;
}

.btn-submit {
    border-color: #FABC3F;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f9bc3f;
}

.btn-submit:hover {
    background-color: #f9bc3f;
    color: black;
}

.about p {
    color: white;
    text-align: justify;
}

#footer-menu {
    background-color: #040404;
    padding: 20px 0; /* Adiciona espaçamento vertical no footer */
}

#footer-menu {
    padding-left: 15px; /* Ajuste o padding horizontal se necessário */
    padding-right: 15px;
    border-radius: 10px;
}

.section-title {
    color: #FABC3F;
    font-family: "Jomhuria", serif;
    font-size: 50px;
    white-space: nowrap;
}

#footer-menu .menu-footer a {
    display: block;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#number-contact {
    font-size: 25px;
}

.horario-de-funcionamento a {
    white-space: nowrap; /* Impede que o texto quebre para uma nova linha */
}

.px-extra {
    padding-left: 6rem;
    padding-right: 6rem;
}

.social-links {
    display: inline-block;
    color: white;
}

#real-footer img {
    width: 60px;
    height: 60px;
    padding: 10px;
}

.me-custom {
    margin-left: -28px;
}

.social-links img {
    margin-left: 8px;
}

.footer-text {
    color: white;
}

#mais-procurados,
#contato,
#lancamentos,
#sobre {
    scroll-margin-top: 80px;
}

section {
    padding-bottom: 50px; /* Aumenta o espaço entre as seções */
}