body {
    background-color: #000000;
}

.navbar {
    background-color: #47484d;
}

.nav .nav-link.active {
    background-color: #f9bc3f;
    color: #fef6e7;
}

.nav .nav-link, 
.navbar-brand,
h2 {
    color: #fef6e7;
}

.navbar-brand {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.navbar-brand:hover {
    color: #fef6e7;
}

.navbar-brand span {
    color: #f9bc3f;
}

.nav .nav-link.active,
.nav-link {
font-family: "Inter", sans-serif;
font-weight: bold;
}

.navbar-toggler {
    background-color: #a9acb8;
}

span {
    color: #f9bc3f;
}

h2 {
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 30;
}

.card-title {
    color: #ffffff;
    font-size: 1.5rem;
}

.card-text {
    font-weight: bold;
    color: #ffffff;
}

